py-tgcalls
git+https://github.com/Makoto-XD/pyrogra@master
yt-dlp==2021.11.10.1
bs4
beautifulsoup
requests
python-dotenv
youtube-search-python
bs4
requests
tgcrypto
aiohttp
gitpython
pytz
APScheduler
